---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// ==========
// VENDOR LIBRARIES
// ==========

@import "lib/lib";

// ==========
// MIXINS & FUNCTIONS
// ==========

@import "helpers/mixins";
@import "helpers/functions";

// ==========
// VARIABLES
// ==========

@import "variables/susy";
@import "variables/colors";
@import "variables/themes";
@import "variables/typography";

// ==========
// THEME RESET & BASE FILES
// ==========

@import "base/reset";
@import "base/extends";
@import "base/typography";
@import "base/base";

// ==========
// LAYOUTS - All Susy and other span related layouts go here
// ==========
@import "layouts/layouts";

// ==========
// MODULES STYLES
// ==========

@import "modules/header";
@import "modules/navigation";
@import "modules/hero";
@import "modules/menu";
@import "modules/gallery";
@import "modules/news";
@import "modules/newsletter";
@import "modules/facebook";
@import "modules/map";
@import "modules/footer";


// ==========
// PAGE SPECIFIC STYLES
// ==========

// @import "pages/home";
// @import "pages/contact";

// ... your page here

// ==========
// SHAME - For new style snippets that haven't been sorted and commented yet
// ==========

@import "shame";
