---
layout: default
---
<figure class="site-hero"><img src="images/hero.jpg" height="1552" width="2362" alt=""></figure>

<section class="menu" id="menu">
    <aside class="menu-navigation">
        <nav>
            <ul>
               <li class="active"><a href="#week-menu">Menu de la semaine</a></li>
               <li><a href="#starter-menu">Entrées</a></li>
               <li><a href="#main-menu">Plats</a></li>
               <li><a href="#dessert-menu">Desserts</a></li>
            </ul>
            <ul class="menu--english">
                <li><a href="/images/english-menu/schuman-starters-english.png" title="English menu : Starters">English Menu</a></li>
                <li class="hidden hide"><a href="/images/english-menu/schuman-main-english.png" title="English menu : Main">English Menu - Main</a></li>
                <li class="hidden hide"><a href="/images/english-menu/schuman-desserts-english.png" title="English menu : Desserts">English Menu - Desserts</a></li>
            </ul>
        </nav>
    </aside>
    <div class="menu-acte active" id="week-menu">
        {% for plat in site.menu reversed %}
            {% if plat.categories contains "week" %}
            <h1>{{plat.title}}</h1>
            {{plat.content | markdownify}}
            {% break %}
            {% endif %}
        {% endfor %}
    </div>
    <div class="menu-acte" id="starter-menu">
        <h1>Les entrées</h1>
        <dl>
            {% for plat in site.menu %}
                {% if plat.categories contains "starter" reversed%}
            <dt>{{plat.title}}<span class="menu-price">{{plat.price}}</dt>
            <dd>{{plat.output | strip_html | strip_newlines}}&nbsp;</dd>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
    <div class="menu-acte" id="main-menu">
        <h1>Les plats</h1>
        <dl>
            {% for plat in site.menu %}
                {% if plat.categories contains "main" reversed %}
            <dt>{{plat.title}}<span class="menu-price">{{plat.price}}</dt>
            <dd>{{plat.output | strip_html | strip_newlines}}&nbsp;</dd>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
    <div class="menu-acte" id="dessert-menu">
        <h1>Les desserts</h1>
        <dl>
            {% for plat in site.menu %}
                {% if plat.categories contains "dessert" reversed%}
            <dt>{{plat.title}}<span class="menu-price">{{plat.price}}</dt>
            <dd>{{plat.output | strip_html | strip_newlines}}&nbsp;</dd>
                {% endif %}
            {% endfor %}
        </dl>
    </div>
</section>

<section class="site-newsletter">
    <form action="" class="newsletter-form">
        <label for="newsletter-email">Inscrivez vous pour recevoir <a href="#" title="voir les anciennces newsletters">notre newsletter</a></label>
        <input type="email" name="newsletter-email" placeholder="votre adresse email">
        <button type="submit">Enregistrez - vous</button>
    </form>
</section>

<section class="site-gallery" id="gallery">
    <ul>
        <li><a href="images/gallery/BS-galerie1.jpg" title="Vue de la terasse de la Brasserie"><img src="images/gallery/BS-galerie1.jpg" alt=""></a></li>
        <li><a href="images/gallery/BS-galerie2.jpg" title="Découvrez notre salle"><img src="images/gallery/BS-galerie2.jpg" alt=""></a></li>
        <li><a href="images/gallery/BS-galerie3.jpg" title="Détendez vous dans notre espace loundge"><img src="images/gallery/BS-galerie3.jpg" alt=""></a></li>
        <li><a href="images/gallery/BS-galerie4.jpg"><img src="images/gallery/BS-galerie4.jpg" alt=""></a></li>
        <li><a href="images/gallery/BS-galerie5.jpg"><img src="images/gallery/BS-galerie5.jpg" alt=""></a></li>
        <li><a href="images/gallery/BS-galerie6.jpg"><img src="images/gallery/BS-galerie6.jpg" alt=""></a></li>
        <li><a href="images/gallery/BS-galerie7.jpg"><img src="images/gallery/BS-galerie7_p.jpg" alt=""></a></li>
        <li><a href="images/gallery/BS-galerie8.jpg"><img src="images/gallery/BS-galerie8.jpg" alt=""></a></li>
    </ul>

</section>

<section class="site-news" id="news">
    <ul>
    {% for post in site.posts reversed %}
      <li>
        <article>
            <figure><img src="{{ post.image | prepend: "assets/" | prepend: site.baseurl }}" alt=""></figure>
            <div class="news-content">
              <header>
                  <date>{{ post.date | date: "%d/%m" }}</date>
                  <time>A partir de {{post.date | date:"%Hh%M"}}</time>
                  <h1><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
              </header>
              {{ post.excerpt }}
            </div>
        </article>
      </li>
    {% endfor %}
    </ul>
</section>

<section class="site-facebook">
    <a href="{{site.facebook}}" onclick="window.open(this.href); return false;" onkeypress="window.open(this.href); return false;">Suivez nous sur <span>facebook<span></a>
</section>

<section class="site-map"><div id="map"></div></section>
