.menu{
    @include break;
}
.menu-navigation{
    font-family: $body-font;
    color: white;
    @include span(1 of 3);
    nav{
        background: {
            color : color(black);
            image : url("../images/chef.png");
            repeat : no-repeat;
            position: right 200px;
            size: 75%;
        }
        float: right;
        @include prefix(1 of 3);
        padding:{
            top: 50px;
            bottom: 250px;
        }
        width: 100%;
        ul {
            @extend %lsn;
            li{
                padding: 7px 0;
                &.active,
                &:hover{
                    color: color(teak);
                }
            }
            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
.menu-acte{
    @include span(2 of 3);
    @include last;
    padding: gutter(3);
    padding-left: 0;
    &:not(.active){
        display: none;
    }
    h1{
        font-family: $body-font;
        color: color(black);
        @include type-scale(h2);
        margin-bottom: 20px;
    }
    dt{
        color: color(black);
        font-weight: bold;
    }
    dd{
        color: color(emperor);
        margin: 0;
    }
    .menu-price{
        float: right;
    }
}