.menu{
    @include break;
    margin-top: -10px;
}
.menu-navigation{
    font-family: $body-font;
    font-weight: 300;
    color: white;
    @include span(1 of 3);
    @include first();
    nav{
        @include break;
        background: {
            color : color(black);
        }
        float: right;
        @include prefix(1 of 3);
        padding:{
            top: 50px;
            /*bottom: 250px;*/
        }
        width: 100%;
        height: 660px;
        ul {
            @extend %lsn;
            li{
                padding: 7px 0;
                &.active,
                &:hover{
                    color: color(teak);
                }
            }
            a{
                color: inherit;
                text-decoration: none;
            }
        }
    }
}
.menu-acte{
    @include span(2 of 3);
    @include last;
    padding: gutter(3) gutter(3) gutter(4) gutter(3);
    padding-left: 0;
    &:not(.active){
        display: none;
    }
    h1{
        font-family: $body-font;
        font-weight: 300;
        color: color(teak);
        @include type-scale(h2);
        margin-bottom: 20px;
    }
    dt{
        color: color(black);
        font-weight: bold;
    }
    dd{
        color: color(emperor);
        margin: 0;
    }
    .menu-price{
        float: right;
    }
}
